<script>
    export default {
        mounted: function() {
            jQuery(document).ready(($) => {
                this.$editor = $(this.$el).find("textarea.summernote");
                this.$editor.summernote();

                var editorValue = this.$editor.val();
                /**
                 * Summernote's default content is an empty line wrapped in a paragraph. The server would detect this
                 * as real content and not validate it correctly. So, lets strip it out in case its the only content...
                 */
                if (editorValue == "<p><br></p>") {
                    editorValue = "";
                }

                if (editorValue != "") {
                    this.$editor.summernote("code", editorValue);
                }
            });
        },
        methods: {
            onSubmit: function() {
                $(this.$el).find("textarea.summernote").html(this.$editor.summernote("code"));
            }
        },
        data: function() {
            return {
                $editor: false
            }
        }
    }
</script>