<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="form-group">
                        <label for="">First Name</label>
                        <input class="form-control" type="text" required
                               v-model="user.first_name"
                               v-bind:class="{'form-error': errors.first_name }"
                               @click="resetError('first_name')">
                        <p v-if="errors.first_name">{{ errors.first_name[0] }}</p>
                    </div>

                    <div class="form-group">
                        <label for="">Last Name</label>
                        <input class="form-control" type="text" required
                               v-model="user.last_name"
                               v-bind:class="{'form-error': errors.last_name }"
                               @click="resetError('last_name')">
                        <p v-if="errors.last_name">{{ errors.last_name[0] }}</p>
                    </div>

                    <div class="form-group">
                        <label for="">Password</label>
                        <input class="form-control" type="password" required
                               v-model="user.password"
                               v-bind:class="{'form-error': errors.password }"
                               @click="resetError('password')">
                        <p v-if="errors.password">{{ errors.password[0] }}</p>
                    </div>

                    <div class="form-group">
                        <label for="">Email</label>
                        <input class="form-control" type="email" required
                               v-model="user.email"
                               v-bind:class="{'form-error': errors.email }"
                               @click="resetError('email')">
                        <p v-if="errors.email">{{ errors.email[0] }}</p>
                    </div>

                    <button type="button" class="btn btn-md btn-primary" @click="createUser()">Create</button>
                    <button type="button" class="btn btn-md btn-default" @click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        methods: {
            resetErrors: function() {
                this.errors = {};
            },
            resetError: function(key) {
                _.set(this.errors, key, false);
            },
            createUser: function() {
                var vm = this;
                this.resetErrors();
                this.creating = true;
                axios.post(`/api/users`, this.user, { withCredentials:true })
                    .then(function(response) {
                        alert("The user has been saved.");
                        vm.$emit("userCreated", vm.user);
                    }, function(jsonResponse) {
                        var errorMessage = "";
                        if (jsonResponse.response.status == 422) {
                            _.each(jsonResponse.response.data, function(v, k) {
                                vm.$set(vm.errors, k, v);
                            });
                            errorMessage = "The form is invalid!";
                        } else {
                            errorMessage = "Something went wrong.";
                        }
                        alert(errorMessage);
                    });
            },
            cancel: function() {
                this.$emit("close");
            }
        },
        data: function() {
            return {
                creating: false,
                errors: {},
                user: {}
            };
        }
    }
</script>