<template>
    <div class="user-row">
        <div class="user-data">
            <strong>Fullname: </strong>{{ user.first_name + " " + user.last_name }}
            <strong>Email: </strong>{{ user.email }}
            <i>created at {{ user.created_at }}</i>

            <div class="toolbar">
                <a href="#"
                    class="btn btn-xs btn-primary"
                    v-on:click="editUser(user)">
                    Edit <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="#"
                    class="btn btn-xs btn-danger"
                    v-on:click="deleteUser(user)">
                    Delete <i class="glyphicon" v-bind:class="{ 'glyphicon-remove': !deleting, 'glyphicon-cog spin': deleting }"></i>
                </a>
            </div>
        </div>
        <div v-show="editing">
            <user-editor v-bind:user="user" v-on:userUpdated="userWasUpdated" v-on:cancel="cancelEditUser"></user-editor>
        </div>
    </div>
</template>

<script>
    export default {
	    props: ["user"],
		methods: {
			deleteUser: function(user) {
				var vm = this;
				if (confirm("Are you sure you want to delete this user?")) {
					this.deleting = true;
					axios.delete(`/api/users/${this.user.id}`, { withCredentials:true })
					   .then(function() {
					       alert("The user has been deleted.");
					       vm.deleted = true;
					       vm.$emit("userDeleted", vm.user.id);
					   }, function() {
					       alert("An error has occurred and the user was not deleted.");
					   })
					   .finally(function() {
					       vm.deleting = false;
					   });
				}
			},
			userWasUpdated: function(updatedUser) {
				this.user = _.assign(this.user, updatedUser);
				this.editing = false;
			},
			editUser: function(user) {
				this.editing = true;
			},
			cancelEditUser: function() {
				this.editing = false;
			}
		},
		data: function() {
			return {
				deleting: false,
				deleted: false,
				editing: false
			};
		}
    }
</script>
