<template>
	<div>
        <div class="alert alert-danger" v-if="error">
            An error has occurred while loading the data
        </div>
        <div class="user-list">
            <div class="user-item" v-for="user in users" :user="user" v-bind:class="{ loading: user.loading }">
                <user-row v-bind:user="user" v-on:userDeleted="userWasDeleted"></user-row>
            </div>
        </div>
        <div class="toolbar">
            <button type="button" class="btn btn-md btn-primary" @click="showModalCreate = true">Add new user</button>
        </div>

        <user-create-modal v-if="showModalCreate" @close="showModalCreate = false" @userCreated="userWasCreated">
        </user-create-modal>
    </div>
</template>

<script>
    export default {
        methods: {
            userWasCreated: function() {
                this.loadUsers();
                this.showModalCreate = false;
            },
            userWasDeleted: function(userId) {
                this.users = this.users.filter(function(u) {
                    return u.id != userId;
                });
            },
            loadUsers: function() {
                var vm = this;
                axios.get("/api/users", { withCredentials:true })
                    .then(function(response) {
                        vm.users = response.data;
                    }, function() {
                        vm.error = true;
                    });
            }
        },
		data: function() {
			let data = {
				users: [],
				error: false,
                showModalCreate: false
			};

			return data;
		},
        mounted: function() {
            this.loadUsers();
        }
    }
</script>
