<template>
	<div class="user-editor">
        <div class="form-group">
            <label for="">First Name</label>
            <input class="form-control" type="text" required
                    v-model="updatedUser.first_name"
                    v-bind:class="{'form-error': errors.first_name }"
                    @click="resetError('first_name')">
            <p v-if="errors.first_name">{{ errors.first_name[0] }}</p>
        </div>

        <div class="form-group">
            <label for="">Last Name</label>
            <input class="form-control" type="text" required
                    v-model="updatedUser.last_name"
                    v-bind:class="{'form-error': errors.last_name }"
                    @click="resetError('last_name')">
            <p v-if="errors.last_name">{{ errors.last_name[0] }}</p>
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input class="form-control" type="email" required
                    v-model="updatedUser.email"
                    v-bind:class="{'form-error': errors.email }"
                    @click="resetError('email')">
            <p v-if="errors.email">{{ errors.email[0] }}</p>
        </div>

        <button class="btn btn-md btn-primary" type="button" v-on:click="saveUser()">Save</button>
        <a href="#" v-on:click="cancelEdit()">Cancel edit</a>
    </div>
</template>

<script>
	export default {
        props: ["user"],
        methods: {
            resetErrors: function() {
                this.errors = {};
            },
            resetError: function(key) {
                _.set(this.errors, key, false);
            },
			saveUser: function(updatedUser) {
				var vm = this;
				this.resetErrors();
                this.saving = true;
                axios.put(`/api/users/${this.user.id}`, this.updatedUser, { withCredentials:true })
                    .then(function(response) {
                       alert("The user has been saved.");
                       vm.$emit("userUpdated", vm.updatedUser);
                       vm.backup = _.assign({}, vm.updatedUser);
                   }, function(jsonResponse) {
                       var errorMessage = "";
                       if (jsonResponse.response.status == 422) {
                            _.each(jsonResponse.response.data, function(v, k) {
                                vm.$set(vm.errors, k, v);
                            });
                            errorMessage = "The form is invalid!";
                       } else {
                            errorMessage = "Something went wrong.";
                       }
                       alert(errorMessage);
                   });
            },
            cancelEdit: function() {
                this.updatedUser = _.assign({}, this.backup);
				this.$emit("cancel");
            }
        },
        data: function() {
            return {
                saving: false,
                errors: {},
                updatedUser: _.assign({}, this.user),
                backup: _.assign({}, this.user)
            };
        }
    }
</script>